.home___container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100vh;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

img {
    max-width: 100%;
    height: auto;
}

.selection-container {
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    background-color: rgb(135, 114, 155);
}

.testing {
    display: none;
}